openapi: 3.0.0
info:
  title: Project-X
  contact: {}
  version: '1.0'
paths:
  /oauth/token:
    post:
      tags:
        - User
      summary: Get bearer token
      operationId: GetToken
      parameters:
        - name: Content-Type
          in: header
          required: true
          style: simple
          schema:
            type: string
            example: application/x-www-form-urlencoded
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
                - grant_type
                - username
                - password
              type: object
              properties:
                grant_type:
                  type: string
                  example: password
                username:
                  type: string
                  example: username
                password:
                  type: string
                  example: password
        required: true
        x-send-file-in-body: false
      responses:
        200:
          description: 'Response with valid granted token'
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        400:
          description: 'Invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseOauth'
      deprecated: false
      security: [{}]
  /user/create:
    post:
      tags:
        - User
      summary: Create user
      operationId: Createuser
      parameters:
        - name: Content-Type
          in: header
          required: true
          style: simple
          schema:
            type: string
            example: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateuserRequest'
            example:
              username: string
              password: string
              email: string
        required: true
        x-send-file-in-body: false
      responses:
        200:
          description: 'user has been created'
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedUserResponseOk'
        400:
          description: 'user already exists'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      security: [{}]
  /user/password:
    post:
      tags:
        - User
      summary: Change password
      operationId: Changepassword
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangepasswordRequest'
            example:
              oldPassword: adminadmin
              newPassword: zaq1@WSX
        required: true
        x-send-file-in-body: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /user/all:
    get:
      tags:
        - User
      summary: List of users
      operationId: Listofusers
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /location/create:
    post:
      tags:
        - Location
      summary: Create Location
      operationId: CreateLocation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLocationRequest'
            example:
              name: Jagiellonium Universitetum
              description: Uniwersytet Jagielloński
              roles:
                - name: Arechologia
                  description: XDDDD
                - name: Prawo
                  description: Crossfit
        required: true
        x-send-file-in-body: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /location/my_locations:
    get:
      tags:
        - Location
      summary: List of all user's locations
      operationId: Listofalluser'slocations
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /location/5d9bb4c3a7b11b0001d2adab:
    get:
      tags:
        - Location
      summary: Get location by ID
      operationId: GetlocationbyID
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
    delete:
      tags:
        - Location
      summary: Delete location by ID
      operationId: DeletelocationbyID
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /location/5d8bb73f6344590001feffd3:
    put:
      tags:
        - Location
      summary: Edit location
      operationId: Editlocation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditlocationRequest'
            example:
              name: Jagiellonium Universitetum
              description: Wariaty
              roles:
                - name: a
                  description: idiota
                - name: Prawo
                  description: Edit
                - name: Prof 3
                  description: idiota3
        required: true
        x-send-file-in-body: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /game/create:
    post:
      tags:
        - Game
      summary: Create game
      operationId: Creategame
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreategameRequest'
            example:
              location:
                id: 55e778446a7b11b0001612e89
        required: true
        x-send-file-in-body: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /game/all:
    get:
      tags:
        - Game
      summary: Get list of games
      operationId: Getlistofgames
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /game/all/user:
    get:
      tags:
        - Game
      summary: Get list of user games
      operationId: Getlistofusergames
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /game/5dc44518410df80001a88ddd:
    get:
      tags:
        - Game
      summary: Get game by ID
      operationId: GetgamebyID
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /game/start/5dc44518410df80001a88ddd:
    get:
      tags:
        - Game
      summary: Get finished game by ID
      operationId: GetfinishedgamebyID
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /game/join/5e778462a7b11b0001612e8a:
    put:
      tags:
        - Game
      summary: Add new player to game
      operationId: Addnewplayertogame
      parameters:
        - name: Content-Type
          in: header
          required: true
          style: simple
          schema:
            type: string
            example: application/json
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /game/5dc4422163445900011814d5/location/5dc441f963445900011814cf:
    put:
      tags:
        - Game
      summary: Change game location
      operationId: Changegamelocation
      parameters:
        - name: Content-Type
          in: header
          required: true
          style: simple
          schema:
            type: string
            example: application/json
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /game/start/5e778462a7b11b0001612e8a:
    put:
      tags:
        - Game
      summary: Start Game
      operationId: StartGame
      parameters:
        - name: Content-Type
          in: header
          required: true
          style: simple
          schema:
            type: string
            example: application/json
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /game/finish/5e778462a7b11b0001612e8a:
    put:
      tags:
        - Game
      summary: Finish Game
      operationId: FinishGame
      parameters:
        - name: Content-Type
          in: header
          required: true
          style: simple
          schema:
            type: string
            example: application/json
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /game/5e778462a7b11b0001612e8a:
    delete:
      tags:
        - Game
      summary: Delete game by ID
      operationId: DeletegamebyID
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
components:
  schemas:
    CreateuserRequest:
      title: CreateuserRequest
      required:
        - username
        - password
        - email
      type: object
      properties:
        username:
          type: string
          description: 'min length: 5'
        password:
          type: string
          description: 'min length: 8'
        email:
          type: string
          description: 'valid email'
      example:
        username: string
        password: string
        email: string
    ChangepasswordRequest:
      title: ChangepasswordRequest
      required:
        - oldPassword
        - newPassword
      type: object
      properties:
        oldPassword:
          type: string
        newPassword:
          type: string
      example:
        oldPassword: adminadmin
        newPassword: zaq1@WSX
    CreateLocationRequest:
      title: CreateLocationRequest
      required:
        - name
        - description
        - roles
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        roles:
          type: array
          items:
            $ref: '#/components/schemas/Role'
      example:
        name: Jagiellonium Universitetum
        description: Uniwersytet Jagielloński
        roles:
          - name: Arechologia
            description: XDDDD
          - name: Prawo
            description: Crossfit
    Role:
      title: Role
      required:
        - name
        - description
      type: object
      properties:
        name:
          type: string
        description:
          type: string
      example:
        name: Arechologia
        description: XDDDD
    EditlocationRequest:
      title: EditlocationRequest
      required:
        - name
        - description
        - roles
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        roles:
          type: array
          items:
            $ref: '#/components/schemas/Role'
      example:
        name: Jagiellonium Universitetum
        description: Wariaty
        roles:
          - name: a
            description: idiota
          - name: Prawo
            description: Edit
          - name: Prof 3
            description: idiota3
    CreateUJlocationRequest:
      title: CreateUJlocationRequest
      required:
        - name
        - description
        - roles
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        roles:
          type: array
          items:
            $ref: '#/components/schemas/Role'
      example:
        name: Jagiellonium Universitetum
        description: Uniwersytet Jagielloński
        roles:
          - name: Arechologia
            description: XDDDD
          - name: Prawo
            description: Crossfit
    CreateotherlocationRequest:
      title: CreateotherlocationRequest
      required:
        - name
        - description
        - roles
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        roles:
          type: array
          items:
            $ref: '#/components/schemas/Role'
      example:
        name: Comarch
        description: McDonald dla Programistow XDD
        roles:
          - name: Janusz
            description: XDDDD
          - name: Kumarch
            description: staz
          - name: Cos
            description: trzecie
    CreategameRequest:
      title: CreategameRequest
      required:
        - location
      type: object
      properties:
        location:
          $ref: '#/components/schemas/Location'
      example:
        location:
          id: 55e778446a7b11b0001612e89
    Location:
      title: Location
      required:
        - id
      type: object
      properties:
        id:
          type: string
      example:
        id: 55e778446a7b11b0001612e89
    CreatenewuserRequest:
      title: CreatenewuserRequest
      required:
        - username
        - password
        - email
      type: object
      properties:
        username:
          type: string
        password:
          type: string
        email:
          type: string
      example:
        username: janko123
        password: janko123
        email: wadsars@janko.pl

    TokenResponse:
      title: Access token
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
        expires_in:
          type: integer
        scope:
          type: string
        jti:
          type: string

    CreatedUserResponseOk:
      title: Created user
      type: object
      properties:
        type:
          type: string
        message:
          type: string
        user:
          $ref: '#/components/schemas/UserObject'


    UserObject:
      title: User object
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        email:
          type: string
        authority:
          type: string
        enabled:
          type: boolean
        signedDate:
          type: string
        lastLogged:
          type: string

    ErrorResponse:
      title: Error response
      type: object
      properties:
        type:
          type: string
        message:
          type: string
        description:
          type: string
        status:
          type: string

    ErrorResponseOauth:
      title: Error oauth response
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string


  securitySchemes:
    BearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT


security:
  - BearerAuth: []
tags:
  - name: User
  - name: Location
  - name: Game
    description: Endpoint requests for game service